{
"contractType":"{{contractType}}",
"validityFrom": "2017-01-01",
"validityTo": "{{validTo}}",
"person":{"id": 100},
"locations":
[
    {
        "id": 3, "locationType":"P"
    },
    {
        "id": 4, "locationType":"P"
    }
]
}
