{
"contractType":"STC",
"validityFrom": "2017-01-01",
"validityTo": "2017-12-31",
"person":{"id": 100},
"locations":
[
    {
        "id": 3, "locationType":"P"
    },
    {
        "id": 4, "locationType":"P"
    }
]
}
