{
  "documentType": "RCI",
  "expirationDate": "2017-05-20",
  "compensationDate": "2017-05-20",
  "person": {
    "id": 100
  },
  "payments": [
    {
      "method": {
        "id": 5
      },
      "term": {
        "id": 5
      },
      "currency": "ARS",
      "amount": 1153,
      "charge": 0,
      "discount": 0,
      "description": ""
    }
  ],
  "creationDate": "2017-04-19",
  "status": "OPENED",
  "compensatedDocuments": [
    {
      "documentType": "FRI",
      "id": {{compensatedDocumentId}}
    }
  ]
}