{
  "documentType": "RCI",
  "expirationDate": "2017-05-20",
  "compensationDate": "2017-05-20",
  "person": {
    "id": 100
  },
  "payments": [
    {
      "method": {
        "id": 5
      },
      "term": {
        "id": 5
      },
      "currency": "ARS",
      "amount": 1152,
      "charge": 0,
      "discount": 0,
      "description": ""
    }
  ],
  "creationDate": "2017-04-19",
  "status": "OPENED",
  "compensatedDocuments": [
    {
      "documentType": "FRI",
      "id": {{compensatedDocumentId}},
      "expirationDate": "2017-05-25",
      "compensationDate": null,
      "person": {
        "id": 100,
        "name": "SANTIAGO, Esteban",
        "dateOfCreation": "2017-02-03",
        "dateOfBirth": "1974-08-02",
        "nationality": {
          "description": "Argentina",
          "id": 1
        },
        "identityCard": {
          "identityCardNumber": "24036873",
          "identityCardType": "DNI"
        },
        "addresses": [
        ],
        "contactWays": [
        ],
        "status": "ACTIVE",
        "memberProfile": {
          "id": 100,
          "category": {
            "description": "Socio",
            "id": 1
          },
          "status": "ACTIVE",
          "active": true,
          "dismiss": false
        },
        "pilotProfile": {
          "id": 100,
          "licence": "24036873",
          "ratings": [
          ],
          "medicalCertifications": [
            {
              "id": 1,
              "medicalCertificationClass": "CLASS_I",
              "validityFrom": "2017-01-04",
              "validityTo": "2020-01-04",
              "observations": "Observaciones!!!"
            }
          ],
          "pilotCertifications": [
          ]
        },
        "customerProfile": null,
        "employeeProfile": null,
        "active": true
      },
      "payments": [
        {
          "id": 1,
          "method": null,
          "term": null,
          "currency": "ARS",
          "amount": 1152,
          "charge": 0,
          "discount": 0,
          "description": null,
          "totalAmount": 1152
        }
      ],
      "user": null,
      "creationDate": "2017-04-25",
      "referencedDocumentId": 101,
      "legalId": 70000000,
      "amount": 1152,
      "canceled": false,
      "opened": true,
      "discount": 0,
      "charge": 0,
      "totalAmount": 1152,
      "compensated": false
    }
  ]
}